<!-- register.component.html -->
<div class="register-container">
  <h2>Register</h2>
  <form (submit)="register()" class="register-form">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="user.username" name="username" required class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" required class="form-control">
    </div>
    <button type="submit" class="btn">Register</button>
  </form>
</div>